<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>blank.gif</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>boomlight1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,3},{394,363}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{394,363}}</string>
			<key>sourceSize</key>
			<string>{394,363}</string>
		</dict>
		<key>developing.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,3},{429,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{429,53}}</string>
			<key>sourceSize</key>
			<string>{429,53}</string>
		</dict>
		<key>dojo.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,57},{175,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>flash.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,57},{358,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{358,20}}</string>
			<key>sourceSize</key>
			<string>{358,20}</string>
		</dict>
		<key>fork.gif</key>
		<dict>
			<key>frame</key>
			<string>{{572,78},{356,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{356,92}}</string>
			<key>sourceSize</key>
			<string>{356,92}</string>
		</dict>
		<key>game-over.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,367},{490,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{490,85}}</string>
			<key>sourceSize</key>
			<string>{490,85}</string>
		</dict>
		<key>home-desc.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,233},{161,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,91}}</string>
			<key>sourceSize</key>
			<string>{161,91}</string>
		</dict>
		<key>logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,171},{288,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,135}}</string>
			<key>sourceSize</key>
			<string>{288,135}</string>
		</dict>
		<key>lose.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,3},{54,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,50}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>new-game.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,453},{195,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,195}}</string>
			<key>sourceSize</key>
			<string>{195,195}</string>
		</dict>
		<key>new.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,3},{70,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,42}}</string>
			<key>sourceSize</key>
			<string>{70,42}</string>
		</dict>
		<key>ninja.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,367},{244,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,81}}</string>
			<key>sourceSize</key>
			<string>{244,81}</string>
		</dict>
		<key>quit.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,171},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>score.png</key>
		<dict>
			<key>frame</key>
			<string>{{952,3},{29,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,31}}</string>
			<key>sourceSize</key>
			<string>{29,31}</string>
		</dict>
		<key>shadow.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,367},{106,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,77}}</string>
			<key>sourceSize</key>
			<string>{106,77}</string>
		</dict>
		<key>shadow1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,649},{100,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,102}}</string>
			<key>sourceSize</key>
			<string>{100,102}</string>
		</dict>
		<key>shadow2.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,453},{354,296}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{354,296}}</string>
			<key>sourceSize</key>
			<string>{354,296}</string>
		</dict>
		<key>smoke.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,78},{43,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,43}}</string>
			<key>sourceSize</key>
			<string>{43,43}</string>
		</dict>
		<key>x.png</key>
		<dict>
			<key>frame</key>
			<string>{{952,35},{22,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,19}}</string>
			<key>sourceSize</key>
			<string>{22,19}</string>
		</dict>
		<key>xf.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,3},{22,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,19}}</string>
			<key>sourceSize</key>
			<string>{22,19}</string>
		</dict>
		<key>xx.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,23},{27,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,26}}</string>
			<key>sourceSize</key>
			<string>{27,26}</string>
		</dict>
		<key>xxf.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,325},{27,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,26}}</string>
			<key>sourceSize</key>
			<string>{27,26}</string>
		</dict>
		<key>xxx.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,325},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>xxxf.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,325},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>type</key>
		<string>packer</string>
		<key>realTextureFileName</key>
		<string>main.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cfaf52eb1eb41c7531bf2d0be3f50f2e$</string>
		<key>textureFileName</key>
		<string>main.png</string>
	</dict>
</dict>
</plist>